<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818317548984-6mvlgqj4tnsakcmp2u45ee52s5m87a3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818317548984-6mvlgqj4tnsakcmp2u45ee52s5m87a3e</string>
	<key>API_KEY</key>
	<string>AIzaSyDJFUtXQ7HYcp58SBC-zcc2jfI1vQ2wqzY</string>
	<key>GCM_SENDER_ID</key>
	<string>818317548984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wallpaper</string>
	<key>PROJECT_ID</key>
	<string>wallpaper-241402</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpaper-241402.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818317548984:ios:f528aba83d2283ed</string>
	<key>DATABASE_URL</key>
	<string>https://wallpaper-241402.firebaseio.com</string>
</dict>
</plist>